{% extends "index-base.html" %} {% block title %}Pets{% endblock %} {%block body
%}
<div class="container">
  <h1>PetFax</h1>
  <div class="callout">
    Welcome to PetFax! We love pets and we give them all the love and enrichment
    they need!
  </div>
  <div class="pets-container">
    {% for pet in pets %}
    <div class="pet">
      <h2>{{ pet.pet_name }}</h2>
      <img src="{{ pet.pet_photo }}" alt="Image of {{ pet.pet_name }}" />
      <a href="/pets/{{ pet.pet_id }}"
        >Learn so much more about {{ pet.pet_name}}
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="callout">
    We are dummy interested in your pet facts!
    <a href="/facts/new">Submit cool facts here! Wow!</a>
  </div>
</div>
{% endblock %}
