<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetFax - Submit!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Submit Facts</h1>
      <div class="callout">
        If you have some cool facts, SUBMIT THEM HERE FOOL!
      </div>
      <div class="facts-container">
        <form method="POST">
          <label for="submitter">
            <h2>Name</h2>
          </label>
          <input type="text" name="submitter" />
          <br />
          <label for="fact">
            <h2>Fact</h2>
          </label>
          <textarea name="fact">
          <br />
          <input type="submit" value="Submit the Fact" />
        </form>
      </div>
    </div>
  </body>
</html>
